*{margin: 0; padding: 0;}

/* HEADER */
.stAppHeader{
    background-color: #9E0000;
    color: white;
}

.stAppToolbar{
    visibility: hidden;
}

/* SIDEBAR */
.stSidebar{
    background-color: #C00000 ;
    color: white;
}

.stRadio{
    margin-bottom: 20px;
}

.stRadio p{
    font-size: 14px;
    color: white;
}

/* MAIN */
.stApp{
    background-color: #9E0000;
    color: white;
} 

#fluxo-de-caixa{
    font-size: 50px;
    text-shadow: 0px 0px 5px tan;
}

.Tvisual{
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-shadow: 0px 0px 2px tan;
    margin-right: 50px;
    margin-left: 20PX;
}
.visual{
    display: inline-flex;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 10px;
    width: 220px;
    font-size: 14px;
    font-weight: 600;
    text-shadow: 0px 0px 5px tan;
    padding: 8px 0px 8px 20px ;
    margin: 8px;
}

.stHorizontalBlock .st-emotion-cache-0 .eiemyj5{
    border: 1px solid white;
}

.stMetric p strong{
    font-size: 15px;
    color: white;
}

.stMetric .st-emotion-cache-1wivap2{
    color: white;
}

.svg-main .infolayer tspan{
    color: white;
}


.tooltip {
    position: relative;
  }

  .icon{
    font-size: 20px;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 230px;
    background-color: rgb(231, 70, 70);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }